body {
  background-color: black;
}

h1 {
  color: royalblue;
  text-align: center;
}

table#grid {
  margin: 0 auto;
}

td {
  height: 15px;
  width: 15px; 
  padding: 0.2em;
}

td.alive {
  background-color: royalblue;
  color: royalblue;
}

td.dead {
  background-color: #ccc;
  color: #ccc;
}
